
.DS_Store

/code/notes.md
/code/*.csv
/code/results/*.csv

/code/.ipynb*
/code/obj/*.o*
/code/bin/*
/code/a.out

/code/include/archive/*.c*
/code/src/archive/*.c*

/latex/_minted*
/latex/*.aux
/latex/*.log
/latex/*.out
/latex/*.sync*
